# Dependencies
node_modules/

# Production builds
dist/
dist-ssr

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log
logs/

# TypeScript
*.tsbuildinfo

# Vite
vite.config.*.timestamp-*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploads (backend - chỉ giữ .gitkeep)
backend/src/uploads/*
!backend/src/uploads/.gitkeep

# Misc
*.tmp
*.bak