PORT=4000
MONGODB_URI=mongodb+srv://longka2k3_db_user:FUKv4g2txOvCHYHC@cluster0.gs3rjn0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=replace_me
CLIENT_URL=http://localhost:5173
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
NODE_ENV=development
